@using PieShop.DataAccess.Models
@model Pie

<div class="card card-margin shadow" style="width: 18rem;">
    <img class="card-img-top" src="@Model.image_thumbnail_url" alt="@Model.name image">
    <div class="card-body">
        <h5 class="card-title">@Model.name</h5>
        <p class="card-text">@Model.short_description</p>
        @if (Model.is_in_stock)
        {
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
               asp-route-pieId="@Model.pie_id">Add to cart</a>
        }
        else
        {
            <a class="btn btn-danger text-white disabled">Out Of Stock!</a>
        }

        <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.pie_id">Details</a>
    </div>
</div>